/* NORMALIZE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul, h3, p, h2, h4, article{
    margin:0;
    padding: 0;
}

ul{
    list-style: none;
}

/* HEADER */

#body{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #BBBBBB;
}
.header{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #000;
    box-shadow: 5px 10px #888888;
}
.header-logo{
    grid-column: 1;
    justify-self: center;
}

.header-logo img{
    width: 100%;
}

.header-nav{
    grid-column: 2;
    background: linear-gradient(to bottom, #FAFAFA 0%, #FAFAFA 30%, #000 30%, #000 100%);
    display: grid;
    grid-template-rows: 30px 70px;
    align-items: center;
}
.header-nav-top{
    grid-row:1;
    font-size: 0.9em;
}
.header-nav-list{
    display: flex;
    justify-content: flex-end;
}
.header-nav-list li{
    margin: 0 1rem;
}

.header-nav-bottom{
    grid-row:2;
    font-size: 1em;
}

.header-nav-bottom a{
    text-decoration: none;
    color: #FAFAFA;
}
.header-nav-bottom a:hover{
    color:#f39301;
}

#ProductsSearchBtn, #ProductsSearch{
    background-color: #FAFAFA;
    border:0px;
    padding: 0.2rem;
}
#ProductsSearchBtn:hover{
    background-color: #f39301;
}

.social-icon{
    filter: invert(100%);
}


/* MAIN */

/* seccion categorias */

.section-categorys{
    grid-column: 1;
    margin-bottom: 4rem;
}

.categorys-list a{
    text-align: center;
    padding: 1rem 0;
    background-color: #FAFAFA;
    box-shadow: 5px 10px #888888;
    border: 1px solid;
    display: block;
    text-decoration: none;
    color: #000;
}
.categorys-list a ul{
    display: none;
    position:absolute;
    left: 300px;
}

.categorys-list a ul li a{
    padding: 1rem;
}

.categorys-list img{
    margin-left: 1rem;
}

.category-title{
    text-align: center;
    font-size: 1.5em;
    background-color: #000;
    border: 0;
    box-shadow: 5px 10px #888888;
}

.category-title a{
    text-decoration: none;
    color: #FAFAFA;
    display: block;
    padding: 1.2rem 0;
}

.categoryArrow{
    filter: invert(100%);
}

/* seccion lista de productos */

#productsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 3%;
    padding: 1rem;
}

#productsList h3{
    font-size: 1.3em;
}

#productsList div{
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 10px #888888;
    padding: 0.3rem;
    border-radius: 2%;
    cursor: pointer;
}
#productsList div p{
    text-decoration: underline;
    color: #f39301;
    font-size: 1.5em;
    display: none;
}

#productsList div img{
    width: 65%;
    border-radius: 2%;
}



/* Seccion carrito */

#cart{
    display: none;
    flex-direction: column;
    box-shadow: 5px 10px #888888;
    border: 1px solid;
}
#cart h3{
    border-bottom: 1px solid;
}

.productsBuyList{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    border-bottom: 1px solid;
}
.productsBuyList li{
    margin: 1rem 0;
}

.productsBuyList-img{
    text-align: center;
}
.productsBuyList-img img{
    width: 100%;
    height: 200px;
}

.productsBuyList-li{
    display: flex;
    flex-direction: column;
}

/* Seccion formulario */

#formRequest{
    display: none;
}

#button{
    background-color: #f39301;
    box-shadow: 5px 5px #888888;
    border: 1px solid;
}

#button:hover{
    background-color: #f3b201ee;
}

.formInformation{
    display: none;
}

/* Seccion descripcion de producto */

#productDescription{
    display: flex;
    justify-content: center;
    align-items: center;
}

#productDescription img{
    width: 60%;
    object-fit: cover;
    box-shadow: 5px 10px #888888;
}

#productDescription button{
    box-shadow: 5px 5px #888888;
    background-color: #f39301;
    margin: 1rem;
    padding: 0.2rem;
}

#productDescription button:hover{
    background-color: #f3b201ee;
}

#productDescription div{
    margin: 1rem;
}
#productDescription div p, h3{
    margin: 1rem;
}


/* FOOTER */
footer{
    box-shadow: 5px 10px #888888;
    grid-column: 1 / 3;
    background-color: #000;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 3rem;
}

@media (max-width: 1200px) {
    .categorys-list a ul{
        left: 200px;
    }

    #productDescription div h3 {
        font-size: 1.3em;
        margin: 0.5rem;
    }

    #productDescription div p {
        font-size: 1.1em;
        margin: 0.5rem;
    }

    #productDescription div button {
        font-size: 0.9em;
        margin: 0.5rem;
    }


  }

@media (max-width: 900px) {
    .header-nav{
        grid-column: 2;
        background: linear-gradient(to bottom, #FAFAFA 0%, #FAFAFA 45%, #000 45%, #000 100%);
        display: flex;
        flex-direction: column;
    }
    .header-nav-bottom{
        padding-top: 0.6rem;
    }

    .header-nav-list{
        flex-direction: column;
        text-align: center;
    }

    #productDescription{
        flex-direction: column;
    }
    #productDescription img{
        text-align: start;
    }

    #productDescription div h3 {
        text-align: center;
    }

    #productDescription div p {
        text-align: start;
    }

    #productDescription div button {
        text-align: center;
    }


  }

@media (max-width: 800px) {
    #productsList{
        grid-template-columns: 1fr;
    }
    #productsList div{
        width: 300px;
        margin: auto;  
    }

    .categorys-list a ul{
        left: 100px;
    }
    .productsBuyList{
        flex-direction: column;
        margin: 0.5rem;
    }

    #cart h3{
        padding: 0.5rem !important;
        margin: 0.5rem !important;
    }

    .productsBuyList-img img{
        width: 50%;
    }

    .productsBuyList li{
        margin: 0;
    }

}

@media (max-width: 800px){
    .productsBuyList-img img{
        width: 70%;
    }
}

@media (max-width: 500px) {

    #productsList div{
        width: 200px;
    }

    .category-title{
        font-size: 1em;
    }

    .categorys-list a{
        font-size: 0.7em;
    }
    .header-nav{
        font-size: 0.7em;
        padding: 0.5rem;
    }
    #productsListTitle{
        font-size: 1.3em;
    }
    #productsList h3{
        font-size: 1em;
    }

    #productsList div p{
        font-size: 1em;
    }

    #productDescription img{
        width: 80%;
    }

    #productDescription div h3 {
        font-size: 1.3em;
    }

    #productDescription div p {
        font-size: 0.8em;
    }

    #productDescription div button {
        font-size: 0.8em;
    }

    #cart h3{
        font-size: 1.2em;
    }

    .productsBuyList{
        font-size: 1em;
    }

    .productsBuyList-img img{
        width: 100%;
    }

    footer {
        font-size: 0.8em;
    }

}

@media (max-width: 400px) {
    .categorys-list a ul{
        left: 50px;
    }
}

@media (max-width: 350px){


    #productsListTitle{
        font-size: 1em;
    }

    #productsList h3{
        font-size: 0.8em;
    }

    #productsList{
        padding: 0.8rem;
    }

    #productsList div{
        width: 150px;
        margin: 0;
        padding: 0;
    }

    .category-title{
        font-size: 0.7em;
    }

    #body{
        grid-template-columns: 35% 65%;
    }

    .categorys-list img, .category-title img{
        width: 10px;
    }

}